# Copie este arquivo para devstack.env e preencha os valores antes de executar make
# Sempre atualizar .env.example ao adicionar alguma variável

# ─── Banco de Dados ────────────────────────────────────────────────────────────

POSTGRES_HOST=
POSTGRES_CONTAINER=
PGADMIN_HOST=
PGADMIN_CONTAINER=
KEY_POSTGRES_USER=
KEY_POSTGRES_PASSWORD=
# instances
KEY_POSTGRES_DB=postgresql.dev
# KEY_PGADMIN_EMAIL_DOMAINS=

KEY_PGADMIN_DEFAULT_EMAIL=
KEY_PGADMIN_DEFAULT_PASSWORD=
# Forces IPv4 routing
KEY_PGADMIN_LISTEN_ADDRESS=
KEY_TZ=
KEY_PGADMIN_CONFIG_SERVER_MODE=
KEY_PGADMIN_CONFIG_CHECK_EMAIL=


