# Copie este arquivo para devstack.env e preencha os valores antes de executar make


# ─── Banco de Dados ────────────────────────────────────────────────────────────

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT_HOST=
POSTGRES_PORT_CONTAINER=
POSTGRES_DB=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT_HOST=
PGADMIN_PORT_CONTAINER=

# Hosts Proxies e Hosts de redirecionamento

NGINX_HTTP_PORT_HOST=
NGINX_HTTP_PORT_CONTAINER=
NGINX_HTTPS_PORT_HOST=
NGINX_HTTPS_PORT_CONTAINER=
NGINX_WEBADMIN_PORT_HOST=
NGINX_WEBADMIN_PORT_CONTAINER=
# NGINX_PROXIES_PATH=/data
# NGINX_CERTS_PATH=/etc/letsencrypt
# NGINX_PROXIES_DATA=./data
# NGINX_CERTS_DATA=./letsencrypt

# Orquestração de containers

PORTAINER_HTTP_PORT_HOST=
PORTAINER_HTTP_PORT_CONTAINER=